.app-header {
    height: 90px;
    background-color: rgb(99,0,49) !important;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid rgb(207, 69, 32);
}

.app-header--title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Full height of the viewport */
}

.app-content {
    flex: 1;
}

/* Sticky footer */
.app-footer {
    background-color: rgb(99,0,49);  /* Matches navbar */
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    border-top: 4px solid rgb(207, 69, 32);
}
