h1 {
    text-align: center;
    padding: 25px;
}

a:link, a:visited{
    padding: 14px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 20px
}

a:hover, a:active {
    color: white;
    font-weight: bold;
}

body {
    font-family: "Proxima Nova";
    background-color:ivory;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 50%; /* Adjust width for each column */
    padding: 15px; /* Padding for some space inside each column */
}