h1 {
    text-align: center;
    padding-bottom: 25px;
}

a:link, a:visited{
    padding: 14px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: rgb(207, 69, 32);
    font-size: 20px
}

a:hover, a:active {
    font-weight: bold;
    background-color: rgb(181, 38, 0);
}

body {
    font-family: "Proxima Nova";
    background-color:ivory;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 50%; /* Adjust width for each column */
    padding: 15px; /* Padding for some space inside each column */
}